<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
<body ng-app="myModule" ng-controller="readCtrl" >
<div ng-init = "initFirst()">
All data:
  <div ng-repeat="student in students">
  		<table>
		  	<tr>	
		  	<td>{{student.name}}</td> 
		  	<td>{{student.salary}}</td> 
		  	<td> <button ng-click="deleteData(student)">Delete!</button> </td>
<!-- 		  	<td> <button ng-click="updateData(student)">Update!</button> </td>
 -->			<td>
 				<form ng-submit="updateData(studentDetail,student);">
				<div>
				New Name: <input type="text" ng-model="studentDetail.newname">
				Salary: <input type="text" ng-model="studentDetail.salary"> 
				<button type="submit">Update!</button>
			</div>
			</form> </td>
			</tr>
  		</table>
  </div>
</div>
<u>Inserting Data: </u>
<form  ng-submit="insertData(empInfo);">
	<p>Name : <input type="text" ng-model="empInfo.name"></p>
	<p>Salary:<input type="text" ng-model="empInfo.salary"></p>
	<button type="submit">Insert! </button>
</form>
<!-- <input type="checkbox" ng-model="hidebox"> Update!
 -->
 <!-- <form ng-submit="updateData(studentDetail);">
<div ng-hide="!hidebox">
	 old Name: <input type="text" ng-model="studentDetail.oldname">
	 New Name: <input type="text" ng-model="studentDetail.newname">
	 Salary: <input type="text" ng-model="studentDetail.salary"> 
	<button type="submit">Update!</button>
</div>
</form> -->
</body>
</html>
<script>
	var myapp = angular.module("myModule",['ngRoute']);

	myapp.factory('getDataFromDb', ['$http', function($http) {
	    var all, odds = [];
	    var read_data = function() {
	    	return $http.get("http://localhost/crudjs/index.php/Angulardata/viewall")
	        .then(function(response) {
	        	all = response.data;
	          	return all;
	        });
	    }
	    return {
	        read_data: read_data 
	    };
	}]);	

myapp.controller("readCtrl",function($scope,$http,getDataFromDb) {
	myapp.config()
	$scope.initFirst=function()
	{
		getDataFromDb.read_data().then(function(response) {
			$scope.students = response;	
	    })
	}

	$scope.deleteData = function(student) {
		var name = student.name;
		var salary = student.salary;
		$http({
			method : 'POST',
			url : 'http://localhost/crudjs/index.php/Angulardata/deleteall',
			headers : {'Content-Type' : 'application/json'},
			data:JSON.stringify({"name" :name, "salary" : salary})
		}) 
		.success (function(response)
		{
			if(response.response == false)
			{
				alert("Problem Inserting data");
			}else{
				getDataFromDb.read_data().then(function(response) {
				$scope.students = response;
				console.log(response);
    		}); 
			}
		});
	}

	$scope.updateData = function(studentDetail,student){
		var oldname = student.name;
		var newname = studentDetail.newname;
		var salary = studentDetail.salary;
		$http({
			method : 'POST',
			url : 'http://localhost/crudjs/index.php/Angulardata/updateall',
			headers : {'Content-Type' : 'application/json'},
			data:JSON.stringify({"oldname" :oldname, "newname":newname, "salary":salary})
		}) 
		.success (function(response)
		{
			if(response.response == false)
			{
				alert("Problem Inserting data");
			}else{
					getDataFromDb.read_data().then(function(response) {
					$scope.students = response;
    			});
			}
		}) 
	}
	$scope.insertData = function(empInfo){
		var name = $scope.empInfo.name;
		var salary = $scope.empInfo.salary
		$http({
			method : 'POST',
			url : 'http://localhost/crudjs/index.php/Angulardata/insertall',
			headers : {'Content-Type' : 'application/json'},
			data:JSON.stringify({"name" :name, "salary" : salary})
		}) 
		.success (function(response)
		{
			if(response.response == false)
			{
				alert("Problem Inserting data");
			}else{
					getDataFromDb.read_data().then(function(response) {
					$scope.students = response;
    			}); 
			}
			$scope.empInfo.name = '';
			$scope.empInfo.salary = '';
		}); 
	}
});
</script>